
body{
    font-family: 'Raleway',Helvetica,Arial,Lucida,sans-serif;
    color: #3c3c3c;
}


.quem_somos h2{
    color: #3c3c3c;
    text-align: justify;
    margin-right: 14%;
    margin-left: 10%;
    margin-bottom: 50px;    
    font-size: 3em;
}

.quem_somos p {
    color: #3c3c3c;
    text-align: justify;
    margin-left: 10%;
    margin-top: 0em;
    font-size: 1.2em;
    margin-right: 16%;
}