#img_logo {
    float: left;
    margin-left: 30px;
  }


.site-logo img {
    /* max-height: 100%; */
    max-width: 200px; 
    /* overflow-clip-margin: content-box;  */
    text-transform: uppercase;
    align-items: center;
    /* margin-top: -0.99em; */
    /* margin-left: 1em; */
    /* margin-bottom: -1em; */
}


body {
    background: #ffffff;
    font-family: 'Raleway',Helvetica,Arial,Lucida,sans-serif;
}

header {
    display: block;
    position: fixed;
    right:0;
    left:0;

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    width: 100%;
    height: 10vh;
}

#main-navigation {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  }

.site-header {
    background: #fff;
    color: #3c3c3c;
    /* position: sticky; */
    top: 0;
    z-index: 999;
}

.site-header a {
    text-decoration: none;
    color: #44464e;
    /* padding-bottom: 1em; */
    /* padding-top: 1em; */
}

.site-navigation {
    margin-right: 20px;
}

.site-navigation ul {
    list-style: none;
    display: flex;
    margin-right: 30px;
    
}

.site-navigation li {
    letter-spacing: 1px;
    margin-left: 38px;
    font-size: 2.2vh;
}

.mobile-menu {
    display: none;
    cursor: pointer;
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background: #4aa879;
    margin: 7px;
}

@media (max-width: 823px) {
    body {
        overflow-x: hidden;
    }
    .site-header outer {
        position:absolute;
        top: 8hv;
        right: 0;
        width: 100vw;
        height: 92hv;
        background: #ffffff;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }

    .site-navigation li {
        margin-left: 0;
        opacity: 0;

    }

    .mobile-menu {
        display: block;
        /* padding: 2em; */
        position: absolute;
        right: 3em;
    }

    .site-navigation.active {
        transform: translateX(0);
    }

    ul {
        width: 0;
    }

}

a:hover {
    opacity: 0.7;
}

.mobile-menu:hover {
    opacity: 0.5;
}

ul {
    display:flex;
}


.secao1 {
    background-color: rgb(255, 255, 255);
    margin-left: -8px;
    padding-right: 8px;
    padding-top: 20px;
    padding-bottom: 10%;
    padding-bottom: 20%;
}

#img_gif_1 {
    float: right;
    width: 39%; 
    margin-left: 10px;
    margin-right: 80px;
    margin-top: -200px;
  }

.sobre h1 {
    color: #3c3c3c;
    margin-left: 14%;
    margin-right: 14%;
    margin-top: 10%;
    font-size: 3em;
    text-align: left;

}

.sobre p{
    color:#3c3c3c;
    font-size: 4vh;
    margin-left: 14%;
    margin-right: 14%;
    margin-bottom: 50px;

}

.sobre_p1 {
    color:#3c3c3c;
    text-align: left;
    font-size: 1.2em;
    margin-left: 14%;
    margin-right: 25%;
    overflow: hidden;
}

.sobre_p1 p {
    float: left;
    width: 60%;
}


.secao2 {
    background-color: rgb(255, 255, 255);
    /* width: 101.2%; */
    margin-left: 0;
    margin-right: 0;
    margin-top: 70px;
    padding-top: 0em;
    padding-bottom: 4em;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.img_appw1{
    margin-left: 10%;
}

#img_app1{
    width: 300px;
}

.sobre_app{
    margin-left: 50px; 
    align-items: center;
    /* margin-right: 14%; */
}


.sobre_app h1{
    color: #3c3c3c;
    text-align: justify;
    margin-right: 14%;
    margin-left: 10%;
    margin-top: -40px;
    margin-bottom: 50px;
    font-size: 2.5em;
}

.slogan {
    color: #535353;
    text-align: justify;
    /* margin-right: 10em; */
    margin-top: 20px;
    margin-bottom: 25px;
    font-size: 4vh;
    margin-left: 14%;
    margin-right: 14%;
}

#inteligente {
    color: #609F81; 
 }

.sobre_app1{
    color: #333333;
    text-align: justify;
    margin-left: 10%;
    margin-top: 0em;
    font-size: 1.1em;
    margin-right: 16%;
}


.secao3 {
    background-color: #4aa879;
    padding-top: 50px; 
    padding-bottom: 80px; 
    font-family: 'Raleway',Helvetica,Arial,Lucida,sans-serif;
  }

  .secao3 h2{
    color: #ffffff;
    text-align: justify;
    margin-top: 40px;
    margin-bottom: 50px;
    font-size: 3em;
}


.download-container {
    display: flex;
    justify-content: first baseline;
    align-items: center;
    margin-top: -150px;
    margin-bottom: -150px;
}

.download-gif {
    margin-left: 10%;
    margin-right: 15%;
    margin-top: 0;

}

.download-div {
    margin-left: 10%;
    color: #fff;
    
}

.download_p {
    font-size: 1.2em;
    font-weight: 400;
    text-align: justify;
    color: #fff;
}


.getapp {
    display: flex;
    justify-content: first baseline;
    align-items: center;
    margin-top: 50px;
    margin-left: 10%;
}


#download-gif {
    width: 70vh; 
}

#google_img {
    width: 150px;
}

#apple_img {
    width: 150px;
}



.secao4 h2 {
    margin-left: 10%;
    color: #333333;
    text-align: justify;
    margin-top: 60px;
    margin-bottom: 50px;
    font-size: 3em;
}

.secao4 p {
    font-size: 1.1em;
    font-weight: 400;
    text-align: justify;
    color: #5a5a5a;
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 80px;
}

footer{
    background-color: #cfcfcf!important;
    padding-bottom: 50px;
    align-items: center;
}

.footer-div p {
    color: #6e6e6e;
    font-family: 'Raleway',Helvetica,Arial,Lucida,sans-serif;
    font-size: 11pt;
    font-weight: 100;
    padding-top: 20px;
    margin-left: 10%;
}


.empresa-nome {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.4em;
    padding-top: 30px;
    margin-left: 10%;
    color: #3f3f3f;
}

.slogan-empresa { 
    margin-top: -30px;
}

.collapsible {
    background-color: #f9f9f9;
    border: none;
    border-radius: 4px;
    color: #444;
    cursor: pointer;
    margin-bottom: 1rem;
    padding: 1rem;
    text-align: left;
    width: 100%;
    transition: background-color 0.3s;
    outline: none;
}

.collapsible:hover {
    background-color: #4aa879;
}

.collapsible:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    font-size: 1.2em;
    color: #6e6e6e;
    text-align: justify;
}

.active .content {
    max-height: 1000px;
}

.container {
    margin-left: 10%;
    margin-right: 10%;
}

.container h1 {
    padding-top: 30px;
    font-size: 2.5em;
    color: #333333;
}

.cargos-fotos {
    justify-content: space-between;
    align-items: center;
    display: flex;
}

#angelica {
    width: 150px;
}

#luana {
    width: 150px;
}

#gabriela {
    width: 150px;
}

.div-cargos   {
    margin-left: 20%;
    margin-right: 20%;
    padding-bottom: 50px;
}

.cargos {
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.cargos p { 
    color: #050505;
}

.cargos p span {
    font-size: 10pt;
    font-weight: 600;
    color: #4aa879;
}


.circular-img {
    border-radius: 60%;
}